<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <title>Pro Chess</title>
    <style>
      body {
        text-align: center;
      }
      .btn-container {
        display: flex;
        justify-content: center;
      }
      .main-page-btn {
        background-color: blue;
        color: white;
        text-decoration: none;
        font-size: 30px;
        width: 12em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        border-radius: 0.2em;
        cursor: pointer;
      }
    </style>
  </head>
  <body id="body">
    <h1>Welcome to Pro Chess</h1>
    <div class="btn-container">
      <div class="main-page-btn" hx-get="/local_game.html" hx-target="body">Play Local Game</div>
      <div class="main-page-btn" hx-get="/choose_game.html" hx-target="body">Start Game</div>
      <div class="main-page-btn" hx-get="/join_game.html" hx-target="body">Join Game</div>
    </div>
  </body>
</html>
